@font-face {
    font-family: 'SF-Pro-Display';
    font-weight: bold;
    src: url('https://infstranica.b-cdn.net/SFProDisplay-Bold.woff2');
}
@font-face {
    font-family: 'SF-Pro-Display';
    font-weight: light;
    src: url('https://infstranica.b-cdn.net/SFProDisplay-Light.woff2');
}
@font-face {
    font-family: 'SF-Pro-Display';
    font-weight: medium;
    src: url('https://infstranica.b-cdn.net/SFProDisplay-Medium.woff2');
}
body {
    background-color: rgb(42, 40, 42);  
    font-family: 'SF-Pro-Display';
    font-weight: medium;
    color: antiquewhite;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
html::-webkit-scrollbar {
    display: none;
}
.main {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    font-family: 'SF-Pro-Display';
    font-weight: light;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center;

}

.about {
    margin-left: 10%;
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.about:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.family {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.family:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sources {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.sources:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}



.about_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.family_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.sources_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.about_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.family_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.sources_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.main_mobile{
    display: none;
}
.home {
    width: 100px;
    height: 100px;
    border-radius: 0;
    border-color: antiquewhite;
    transition: border-radius 0.5s ease-in-out;
}

.home:hover{
    border-radius: 2px;
}
.hm{
    margin-right: 50%;
    cursor: pointer;
}

.hm_mob_pic {
    display:none;
    width: 100px;
    height: 100px;
    transition: background-color 0.5s ease-in-out;
}
.hm_mob_pic:hover{
    background-color: antiquewhite;
    border-radius: 2px;
}
.hm_mob{
    margin-right: 50%;
    cursor: pointer;
    display:none;
}
.osx .hm{
    display: none;
}
.osx .hm_mob{
    display: initial;
}
.osx .hm_mob_pic{
    display: initial;
}
@media (max-width:1250px){
    .about{
        display: none;
    }
    .family{
        display: none;
    }
    .sources{
        display: none;
    }
    .home{
        display:none;
        }
    .hm{
        display:none;
        }
    .hm_mob{
        display:initial;
        }
    .hm_mob_pic{
        display:initial;
        }
    .main_mobile{
        display: initial;
    }
    .back{
        padding-top: 60%;
        font-size: 35px;
    }
    .fali{
        display: none;
    }
    .content{
        display: none;
    }
}
@media(min-width:1250px){
    .fali_mob{
        display: none;
    }
    .content_mob{
        display: none;
    }
}
.back {
    font-size: 50px;
    font-family: 'SF-Pro-Display';
    font-weight: light;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    align-items: center;
    text-decoration: underline;
    transition: color 0.5s ease-in-out;
}
.back:hover {
    color: rgb(0, 247, 255);
}
.fali{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250px;

}

.content h1:nth-child(2):hover {
    color: rgb(0, 247, 255);
}
.content {
    margin-bottom: 25%;
	position: relative;
    margin-top: 10%;
}

.content h1 {
	color: #fff;
	position: absolute;
	transform: translate(-50%, -70%);
}

.content h1:nth-child(1) {
	color: transparent;
    transition: -webkit-text-stroke 0.5s ease-in-out;
	-webkit-text-stroke: 0.5px rgb(0, 247, 255);
}

.content h1:nth-child(2) {
	color: #ffffff;
    transition: color 0.5s ease-in-out;
	animation: animate 4s ease-in-out infinite;
}


.fali_mob{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.content_mob h1:nth-child(1):hover {
    -webkit-text-stroke: 0.5px rgb(0, 247, 255);
}
.content_mob h1:nth-child(2):hover {
    color: rgb(0, 247, 255);
}
.content_mob {
    margin-bottom: 25%;
	position: relative;
    margin-top: 10%;
}

.content_mob h1 {
	color: #fff;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content_mob h1:nth-child(1) {
	color: transparent;
    transition: -webkit-text-stroke 0.5s ease-in-out;
	-webkit-text-stroke: 0.5px rgb(0, 247, 255);
}

.content_mob h1:nth-child(2) {
	color: #ffffff;
    transition: color 0.5s ease-in-out;
	animation: animate 4s ease-in-out infinite;
}



@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}