@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(42, 40, 42);  
    font-family: 'Open Sans', sans-serif;
    color: antiquewhite;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center;

}

.about {
    margin-left: 10%;
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.about:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.family {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.family:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sources {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.sources:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.home {
    width: 100px;
    height: 100px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.home:hover{
    width: 110px;
    height: 110px;
}
.hm{
    margin-right: 50%;
    cursor: pointer;
}
.cart{
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    }
.cart_down{
    font-family: 'Open Sans', sans-serif;
    color: antiquewhite;
    text-decoration: none !important;
    font-size:30px;
    margin:2%;
    }
@media (max-width:1250px){
    .about{
        display: none;
    }
    .family{
        display: none;
    }
    .sources{
        display: none;
    }
}
