@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: rgb(63, 63, 63);
}

header {
    font-family: 'Open Sans', sans-serif;
    margin: 2%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center;
}

.nav a{
    color: antiquewhite;
    text-decoration: none!important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
}

.nav a:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}
.home{
    margin-right: 65%;
}
