@font-face {
    font-family: 'SF-Pro-Display';
    font-weight: bold;
    src: url('https://infstranica.b-cdn.net/SFProDisplay-Bold.woff2');
}
@font-face {
    font-family: 'SF-Pro-Display';
    font-weight: light;
    src: url('https://infstranica.b-cdn.net/SFProDisplay-Light.woff2');
}
@font-face {
    font-family: 'SF-Pro-Display';
    font-weight: medium;
    src: url('https://infstranica.b-cdn.net/SFProDisplay-Medium.woff2');
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes changeLine {
	from {
		height: 0px;
	}
	to {
		height: 260px;
	}
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
    background-color: rgb(42, 40, 42);  
    font-family: 'SF-Pro-Display';
    font-weight: medium;
    color: antiquewhite;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    font-family: 'SF-Pro-Display';
    font-weight: light;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center;

}

.about {
    margin-left: 10%;
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.about:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.family {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.family:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sources {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.sources:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


.about_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.family_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.sources_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.about_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.family_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.sources_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.main_mobile{
    display: none;
}
.home {
    width: 100px;
    height: 100px;
    border-radius: 0;
    border-color: antiquewhite;
    transition: border-radius 0.5s ease-in-out;
}

.home:hover{
    border-radius: 2px;
}
.hm{
    margin-right: 50%;
    cursor: pointer;
}

.hm_mob_pic {
    display:none;
    width: 100px;
    height: 100px;
    transition: background-color 0.5s ease-in-out;
}
.hm_mob_pic:hover{
    background-color: antiquewhite;
    border-radius: 2px;
}
.hm_mob{
    margin-right: 50%;
    cursor: pointer;
    display:none;
}
.osx .hm{
    display: none;
}
.osx .hm_mob{
    display: initial;
}
.osx .hm_mob_pic{
    display: initial;
}

.history{
    line-height: 260%;
}
.gf256 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}
.gf256_mob {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: antiquewhite;
    margin-bottom: 10%;
    animation: 2s ease-out 0s 1 fadeIn;
}
.g256{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    -webkit-filter: drop-shadow(5px 5px 5px #3b3b3b);
    filter: drop-shadow(5px 5px 5px #3b3b3b);
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.g256:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #474747);
    filter: drop-shadow(5px 5px 5px #474747);
    transform: rotate(-7deg);
    overflow: visible;

}
.firstgpu{
    padding-left: 7%;
    font-weight: bold;
    /* font-size: large; */
    animation: 1s ease-out 0.25s 1 slideInFromLeft;
}
.txt256{
    animation: 1s ease-out 0s 1 slideInFromRight;
    font-size: larger;
}
.sap5570 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 10%;
}
.sap5570_mob {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 5%;
}
.sa5570{
    animation: 1s ease-out 0s 1 slideInFromRight;
    -webkit-filter: drop-shadow(5px 5px 5px #3b3b3b);
    filter: drop-shadow(5px 5px 5px #3b3b3b);
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out, filter 0.5s ease-in-out;
    margin-right: 2%;
    width: 800px;
    overflow: visible;
}
.sa5570:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #474747);
    filter: drop-shadow(5px 5px 5px #474747);
    transform: rotate(7deg);
}
.firstgpu-right{
    padding-left: 7%;
    font-weight: bold;
    /* font-size: large; */
    animation: 1s ease-out 0.25s 1 slideInFromRight;
}
.txt5570{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-size: larger;
}
.left-line{
    position: absolute;
    width: 60%;
    height: 260px;
    z-index: -2;
    padding-left: 25%;
    transform: translateY(-75%);
    animation: 1s ease-out 0.25s 1 changeLine;
    display: none;
}
.footer {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131313;
    min-height: 5vh;
    padding-left: 2%;
    padding-right: 2%;
}
.transition-fade{
    transition: 1s;
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
}
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  html::-webkit-scrollbar {
    display: none;
}
@media (max-width:1250px){
    .about{
        display: none;
    }
    .family{
        display: none;
    }
    .sources{
        display: none;
    }
    .home{
        display:none;
        }
    .hm{
        display:none;
        }
    .hm_mob{
        display:initial;
        }
    .hm_mob_pic{
        display:initial;
        }
    .main_mobile{
        display: initial;
    }
    .left-line{
        display: none;
    }
    .sa5570{
        width: 100%;
    }
    .txt5570{
        width: 100%;
        font-size: medium;
    }
    .txt256{
        width: 100%;
        font-size: medium;
    }
    .sa5570{
        width: 100%;
    }
    .gf256{
        display: none;
    }
    .gf256_mob{
        display: initial;
    }
    .sap5570{
        display: none;
    }
    .sap5570_mob{
        display: initial;
    }
}