@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(42, 40, 42);  
    font-family: 'Open Sans', sans-serif;
    color: antiquewhite;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center;

}

.about {
    margin-left: 10%;
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.about:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.family {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.family:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sources {
    color: antiquewhite;
    text-decoration: none !important;
    border-color: rgba(255, 255, 255, 0.692);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 12px;
    transition: background-color 0.5s ease-in-out;
}

.sources:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


.about_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.family_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.sources_mobile{
    text-decoration: none !important;
    color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out;
}

.about_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.family_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.sources_mobile:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.main_mobile{
    display: none;
}
.home {
    width: 100px;
    height: 100px;
    border-radius: 0;
    border-color: antiquewhite;
    transition: border-radius 0.5s ease-in-out;
}

.home:hover{
    border-radius: 2px;
}
.hm{
    margin-right: 50%;
    cursor: pointer;
}

.hm_mob_pic {
    display:none;
    width: 100px;
    height: 100px;
    transition: background-color 0.5s ease-in-out;
}
.hm_mob_pic:hover{
    background-color: antiquewhite;
    border-radius: 2px;
}
.hm_mob{
    margin-right: 50%;
    cursor: pointer;
    display:none;
}
.osx .hm{
    display: none;
}
.osx .hm_mob{
    display: initial;
}
.osx .hm_mob_pic{
    display: initial;
}
@media (max-width:1250px){
    .about{
        display: none;
    }
    .family{
        display: none;
    }
    .sources{
        display: none;
    }
    .home{
        display:none;
        }
    .hm{
        display:none;
        }
    .hm_mob{
        display:initial;
        }
    .hm_mob_pic{
        display:initial;
        }
    .main_mobile{
        display: initial;
    }
}